<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <ion-title>Tablas Estadisticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-card>
    <ion-card-header>
      <ion-card-title>Tablas Estadisticas de: </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="chart-container">
        <canvas id="prod-chart"></canvas>
      </div>
    </ion-card-content>
  </ion-card>-->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Productos Vendidos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="chart-container">
              <canvas id="prod-chart"></canvas>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Distribuciones Totales</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="chart-container">
              <canvas id="prod-chart-dist"></canvas>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Créditos Totales</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="chart-container">
              <canvas id="prod-chart-cred"></canvas>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Productos Vendidos y en Stock</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="chart-container">
              <canvas id="prod-chart-sales-stock"></canvas>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
