<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <ion-title>Grafica de Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Sumatoria de:</ion-card-subtitle>
      <ion-card-title>Productos Vendidos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="chart-container">
        <canvas id="prod-chart"></canvas>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
