<ion-app>

  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu de Actividades</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>

        <ion-menu-toggle>
          <ion-item [routerLink]="['/users']" detail>
            <ion-icon name="people-outline" slot="start" color="primary"></ion-icon>
            Usuarios
          </ion-item>
          <ion-item [routerLink]="['/products']" detail>
            <ion-icon name="albums-outline" slot="start" color="primary"></ion-icon>
            Productos en Stock
          </ion-item>
          <ion-item [routerLink]="['/action1']" detail>
            <ion-icon name="reader-outline" slot="start" color="primary"></ion-icon>
            Gestión de Venta
          </ion-item>
          <ion-item [routerLink]="['/action2']" detail>
            <ion-icon name="bus-outline" slot="start" color="primary"></ion-icon>
            Gestión de Distribución
          </ion-item>
          <ion-item [routerLink]="['/action3']" detail>
            <ion-icon name="cash-outline" slot="start" color="primary"></ion-icon>
            Gestión de Seguimiento de Creditos
          </ion-item>
          <ion-item [routerLink]="['/inicio']" detail>
            <ion-icon name="exit-outline" slot="start" color="primary"></ion-icon>
            CERRAR SESIÓN
          </ion-item>
        </ion-menu-toggle>        

      </ion-list>

    </ion-content>
  </ion-menu>

  <!--<ion-menu side="start" menuId="second" contentId="main" class="my-second-menu">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu de Actividades</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>

        <ion-menu-toggle>          
          <ion-item [routerLink]="['/products']" detail>
            <ion-icon name="albums-outline" slot="start" color="primary"></ion-icon>
            Productos en Stock
          </ion-item>
          <ion-item [routerLink]="['/action1']" detail>
            <ion-icon name="reader-outline" slot="start" color="primary"></ion-icon>
            Gestión de Venta
          </ion-item>
          <ion-item [routerLink]="['/action2']" detail>
            <ion-icon name="bus-outline" slot="start" color="primary"></ion-icon>
            Gestión de Distribución
          </ion-item>
          <ion-item [routerLink]="['/action3']" detail>
            <ion-icon name="cash-outline" slot="start" color="primary"></ion-icon>
            Gestión de Seguimiento de Creditos
          </ion-item>
          <ion-item [routerLink]="['/inicio']" detail>
            <ion-icon name="exit-outline" slot="start" color="primary"></ion-icon>
            CERRAR SESIÓN
          </ion-item>
        </ion-menu-toggle>        

      </ion-list>

    </ion-content>
  </ion-menu>-->

  <ion-router-outlet id="main"></ion-router-outlet>

</ion-app>
