<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro de Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>

      <ion-item-divider>
        <ion-label>Datos del Producto</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label position="floating">Nombre Producto</ion-label>
        <ion-input name="nomProd" type="text" [(ngModel)]="regisProduct.nomProd" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cantidad de Productos</ion-label>
        <ion-input name="cantDisp" type="number" [(ngModel)]="regisProduct.cantDisp" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Precio de Venta</ion-label>
        <ion-input name="precio" type="number" [(ngModel)]="regisProduct.precio" required></ion-input>
      </ion-item>

    </ion-list>

    <ion-button color="tertiary" shape="round" (click)="regProduct()">Registrar Producto</ion-button>

  </form>
</ion-content>
